@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fffcf0;
}
.centered {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
}

.basket {
  width: 23px;
  height: 23px;
}
header {
  height: 50px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #309418;
  color: white;
}
.basket-wrapper {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}
.basket-wrapper:hover {
  background-color: #f0f0f0;
}
.basket-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: center;
}

h3 {
  text-align: center;
  font-size: 25px;
  padding: 40px 0;
}

section {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: center;
}
.buyProduct {
  display: grid;
}
.elementNenu {
  margin: 0px 20px;
}
.navigationMenu {
  display: flex;
  list-style-type: none;
  margin-right: 130px;
}
.elementNenu a {
  text-decoration: none;
  color: inherit;
}
.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  color: #fff;
}
.navigationMenu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.mobile-basket {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigationMenu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  .navigationMenu.open {
    display: flex;
    color: black;
  }
  .desktop-basket {
    display: none;
  }
  .mobile-basket {
    display: block;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 630px;
  padding: 5px 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

.searchBox input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.searchBox img {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.searchBox img:hover {
  opacity: 1;
}

.pagination {
  text-align: center;
  margin: 30px;
}

.button {
  display: inline-block;
  border-radius: 16px;
  background: #589e00;
  border: none;
  color: #fff;
  font-size: 21px;
  padding: 13px;
  width: 194px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.5s;
  margin-top: 20px;
}

.button span {
  position: relative;
  transition: 0.5s;
}

/* Кнопка вправо */
.button.right span::after {
  content: "\00bb"; /* » */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button.right:hover span {
  padding-right: 25px;
}

.button.right:hover span::after {
  opacity: 1;
  right: 0;
}

/* Кнопка влево */
.button.left span::after {
  content: "\00ab"; /* « */
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button.left:hover span {
  padding-left: 25px;
}

.button.left:hover span::after {
  opacity: 1;
  left: 0;
}

.btn {
  border: none;
  background: #589e00;
  width: 167px;
  border-radius: 10px;
  height: 27px;
  color: white;
}

.counter {
  display: flex;
  justify-content: center; /* горизонтальное выравнивание по центру */
  align-items: center; /* вертикальное выравнивание */
  margin-top: 10px;
}

.btn-count {
  width: 25px;
  background: white;
  border: 1px solid;
  height: 20px;
}
.text-count {
  border: 1px solid #181616;
  border-radius: 1px;
  width: 31px;
  background: white;
  font-size: 15px;
}
